@import url("https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.preload {
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  background: #017143;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
}

.preload .boxLoad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  padding: relative;
}

.preload .boxLoad img:nth-child(1) {
  -webkit-animation: img1 3s infinite;
          animation: img1 3s infinite;
}

.preload .boxLoad img:nth-child(2) {
  -webkit-animation: img2 3s infinite;
          animation: img2 3s infinite;
}

.preload .boxLoad img:nth-child(3) {
  -webkit-animation: img3 3s infinite;
          animation: img3 3s infinite;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.preload .boxLoad img {
  position: absolute;
}

@-webkit-keyframes img1 {
  0% {
    margin-left: 0px;
    z-index: 3;
  }
  16% {
    margin-left: 90px;
    z-index: 2;
  }
  32% {
    margin-left: 190px;
    z-index: 3;
  }
  48% {
    margin-left: 190px;
    z-index: 3;
  }
  64% {
    margin-left: 80px;
    z-index: 2;
  }
  80% {
    margin-left: 0px;
    z-index: 3;
  }
  100% {
    margin-left: 0px;
    z-index: 3;
  }
}

@keyframes img1 {
  0% {
    margin-left: 0px;
    z-index: 3;
  }
  16% {
    margin-left: 90px;
    z-index: 2;
  }
  32% {
    margin-left: 190px;
    z-index: 3;
  }
  48% {
    margin-left: 190px;
    z-index: 3;
  }
  64% {
    margin-left: 80px;
    z-index: 2;
  }
  80% {
    margin-left: 0px;
    z-index: 3;
  }
  100% {
    margin-left: 0px;
    z-index: 3;
  }
}

@-webkit-keyframes img2 {
  0% {
    margin-left: 80px;
    z-index: 2;
  }
  16% {
    margin-left: 0px;
    z-index: 3;
  }
  32% {
    margin-left: 0px;
    z-index: 3;
  }
  48% {
    margin-left: 80px;
    z-index: 2;
  }
  64% {
    margin-left: 160px;
    z-index: 1;
  }
  80% {
    margin-left: 160px;
    z-index: 1;
  }
  100% {
    margin-left: 80px;
    z-index: 2;
  }
}

@keyframes img2 {
  0% {
    margin-left: 80px;
    z-index: 2;
  }
  16% {
    margin-left: 0px;
    z-index: 3;
  }
  32% {
    margin-left: 0px;
    z-index: 3;
  }
  48% {
    margin-left: 80px;
    z-index: 2;
  }
  64% {
    margin-left: 160px;
    z-index: 1;
  }
  80% {
    margin-left: 160px;
    z-index: 1;
  }
  100% {
    margin-left: 80px;
    z-index: 2;
  }
}

@-webkit-keyframes img3 {
  0% {
    margin-left: 160px;
    z-index: 1;
  }
  16% {
    margin-left: 160px;
    z-index: 1;
  }
  32% {
    margin-left: 80px;
    z-index: 2;
  }
  48% {
    margin-left: 0px;
    z-index: 3;
  }
  64% {
    margin-left: 0px;
    z-index: 3;
  }
  80% {
    margin-left: 80px;
    z-index: 2;
  }
  100% {
    margin-left: 160px;
    z-index: 1;
  }
}

@keyframes img3 {
  0% {
    margin-left: 160px;
    z-index: 1;
  }
  16% {
    margin-left: 160px;
    z-index: 1;
  }
  32% {
    margin-left: 80px;
    z-index: 2;
  }
  48% {
    margin-left: 0px;
    z-index: 3;
  }
  64% {
    margin-left: 0px;
    z-index: 3;
  }
  80% {
    margin-left: 80px;
    z-index: 2;
  }
  100% {
    margin-left: 160px;
    z-index: 1;
  }
}

.preload.low {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  -webkit-clip-path: circle(600px at right 800px);
          clip-path: circle(600px at right 800px);
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
}

section header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section header .logo {
  position: relative;
  max-width: 80px;
}

section header ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section header ul li {
  list-style: none;
}

section header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  margin-left: 40px;
  text-decoration: none;
}

section .content {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .content .textBox {
  position: relative;
  max-width: 600px;
}

section .content .textBox h2 {
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}

section .content .textBox h2 span {
  color: #017143;
  font-size: 1.2em;
  font-weight: 900;
}

section .content .textBox h2 p {
  color: #333;
}

section .content .textBox a {
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: #017143;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}

section .content .imgBox {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;
}

section .content .imgBox img {
  max-width: 340px;
}

section .thumb {
  position: absolute;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section .thumb li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .thumb li img {
  max-width: 60px;
}

section .thumb li:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

section .sci {
  position: absolute;
  top: 50%;
  right: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section .sci li {
  list-style: none;
}

section .sci li a {
  display: inline-block;
  margin: 5px 0;
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-filter: invert(1);
          filter: invert(1);
}

section .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  -webkit-clip-path: circle(600px at right 800px);
          clip-path: circle(600px at right 800px);
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
}
/*# sourceMappingURL=style.css.map */