@import url("https://fonts.googleapis.com/css?family=poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.preload {
 
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  background: #017143;
  clip-path: circle(100% );
  
  
  .boxLoad {
    display: flex;
    width: 250px;
    padding: relative;

    img:nth-child(1) {
      animation: img1 3s infinite;
    }
    img:nth-child(2) {
      animation: img2 3s infinite;
    }
    img:nth-child(3) {
      animation: img3 3s infinite;
      transform: rotate(-10deg);
    }
    img {
      position: absolute;
    }

    @keyframes img1 {
      0% {
        margin-left: 0px;
        z-index: 3;
      }
      16% {
        margin-left: 90px;
        z-index: 2;
      }
      32% {
        margin-left: 190px;
        z-index: 3;
      }
      48% {
        margin-left: 190px;
        z-index: 3;
      }
      64% {
        margin-left: 80px;
        z-index: 2;
      }
      80% {
        margin-left: 0px;
        z-index: 3;
      }
      100% {
        margin-left: 0px;
        z-index: 3;
      }
    }

    @keyframes img2 {
      0% {
        margin-left: 80px;
        z-index: 2;
      }
      16% {
        margin-left: 0px;
        z-index: 3;
      }
      32% {
        margin-left: 0px;
        z-index: 3;
      }
      48% {
        margin-left: 80px;
        z-index: 2;
      }
      64% {
        margin-left: 160px;
        z-index: 1;
      }
      80% {
        margin-left: 160px;
        z-index: 1;
      }
      100% {
        margin-left: 80px;
        z-index: 2;
      }
    }

    @keyframes img3 {
      0% {
        margin-left: 160px;
        z-index: 1;
      }
      16% {
        margin-left: 160px;
        z-index: 1;
      }
      32% {
        margin-left: 80px;
        z-index: 2;
      }
      48% {
        margin-left: 0px;
        z-index: 3;
      }
      64% {
        margin-left: 0px;
        z-index: 3;
      }
      80% {
        margin-left: 80px;
        z-index: 2;
      }
      100% {
        margin-left: 160px;
        z-index: 1;
      }
    }
  }
}
.preload.low {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 1s ease-in-out;
  clip-path: circle(600px at right 800px);
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    .logo {
      position: relative;
      max-width: 80px;
    }
    ul {
      position: relative;
      display: flex;
      li {
        list-style: none;
        a {
          display: inline-block;
          color: #333;
          font-weight: 400;
          margin-left: 40px;
          text-decoration: none;
        }
      }
    }
  }
  .content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .textBox {
      position: relative;
      max-width: 600px;
      h2 {
        color: #333;
        font-size: 4em;
        line-height: 1.4em;
        font-weight: 500;
        span {
          color: #017143;
          font-size: 1.2em;
          font-weight: 900;
        }
        p {
          color: #333;
        }
      }
      a {
        display: inline-block;
        margin-top: 20px;
        padding: 8px 20px;
        background: #017143;
        color: #fff;
        border-radius: 40px;
        font-weight: 500;
        letter-spacing: 1px;
        text-decoration: none;
      }
    }
    .imgBox {
      width: 600px;
      display: flex;
      justify-content: flex-end;
      padding-right: 50px;
      margin-top: 50px;
      img {
        max-width: 340px;
      }
    }
  }
  .thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    li {
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      cursor: pointer;
      transition: 0.5s;
      img {
        max-width: 60px;
      }
    }
    li:hover {
      transform: translateY(-15px);
    }
  }
  .sci {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    li {
      list-style: none;
      a {
        display: inline-block;
        margin: 5px 0;
        transform: scale(0.6);
        filter: invert(1);
      }
    }
  }
  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
  }
}

.main{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
}